.create {
    &-title {
        background-image: linear-gradient(to right top, $colorPrimary, $colorPrimaryDark);
        height: 50vh;
        position: relative;

        &-heading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5rem;
            font-weight: 900;
            color: rgba($colorGreyLight, 0.7);
        }
    }
    &-submit{
        min-height: 40rem;
        position: relative;
        &-container{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
        }
     
    }
    &-form {
        min-height: 40rem;
        max-width: 120rem;
        left:10rem;
        overflow-x: hidden;
        margin: 5rem 0;
        @include respond(phone){
            margin: none;
            left:4rem;
        }
        
        position: relative;
        

        height:100%;
        // &-container {
        //     height:100%;
        //     position: absolute;
        //     top:50%;
        //     left:50%;z
        //     transform: translate(-50%, -50%);
        // }

        &-title {
            display: block;
            font-weight: 900;
            text-transform: Capitalize;
            margin-bottom: 5rem;
            outline: none;
            border: none;
            font-size: 4rem;
        }

        &-description {
            display: block;
            font-weight: 300;
            // text-transform: ;
            margin-bottom: 3rem;
            outline: none;
            border: none;
            font-size: 2rem;
        }

        &-question-formation-group {
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
            padding: 5rem;
            @include respond(phone){
                // padding-top: 5rem;
                // padding-bottom: 5rem;
                // padding-right: 0;
                // padding-left:0;
                // overflow: hidden
            }
        }

        &-question-formation-group-input {
            &-select {
                display: block;
                font-weight: 300;
                text-transform: Capitalize;
                margin: 5rem 0;
                @include respond(phone){
                    margin: none;
                }
                outline: none;
                border: none;
                font-size: 2rem;
            }

            display:block;
            font-weight: 600;
            
            margin: 5rem 0;
            outline:none;
            border:none;
            font-size:4rem;
        }


    }
}

.form-question {
    &:invalid {

        border: solid 3px rgba($colorSecondaryDark, .4);
    }

    height: 3rem;
    text-align: center;
    margin: 2rem;
    outline:0.1px;
    width: 30rem;
    border: solid 1px rgba(0, 0, 0, .4);

}